# Ref: https://www.chezmoi.io/reference/configuration-file/

encryption: age
progress: true
verbose: true
add:
  secrets: error
age:
  identity: "~/.config/chezmoi/key.txt"
  recipient: "age1vue3hgwd0uk4g6kzep37kdsx7xdaah45q4yn9eh3wcjw9u7waf2q3e000f"
