[user]
name  = sample
email = sample@gmail.com

[core]
excludesfile = ~/.gitignore
autocrlf = false

[color]
ui = auto

[alias]
st = status -sb 
sh = show
sb = show-branch
br = branch
rema = rebase origin/master master
ci = commit
cmt = commit -v
coma = commit -a -v
cma = commit -a -v
co = checkout
cl = clone
dc = diff --cached
df = diff
d = diff -C
ds = diff -C --stat
dsp = diff -C --stat -p
dw = diff -C --color-words
lg = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d'
log = log --stat
m = checkout master
ituja = log --patch -S
pushd = push origin develop
pulld = pull origin develop
pushm = push origin master
pullm = pull origin master
nmerge = merge --no-ff
tag = tag -ln
